# development
env/
build/
dist/

# Codium
.vscode/

# Sphinx
docs/_build/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# C extensions
*.so

# misc
.DS_Store
experiments/

# Byte-compiled / optimized / DLL files
__pycache__/

# L-BFGS-B when compiled separately
*/Lbfgsb.3.0/x.*
*/Lbfgsb.3.0/*.dat
