# Specify what goes in the Python source distributions
# 
# To figure out: when installing from sdist, build works fine but all source
# files get copied to the site-packages subfolder as well

# needed for building
include CMakeLists.txt

# for our source
global-include *.c *.h *.f90 *.f

# for l-bfgs
graft */Lbfgsb.3.0

# it's part of the source
graft */profiling

